
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>学生管理系统</h1>
    <p class="lead">电子工程学院通信三班陈海强制作，本系统用于老师录入学生的成绩</p>
    <p><a href="/Home/Borrow" class="btn btn-primary btn-lg">查看学生成绩</a></p>
    <p><a href="/Home/Create" class="btn btn-primary btn-lg">添加学生的成绩信息</a></p>
</div>


